$bluedark: #2c303f;
$graylighter: #f2f2f2;
$red: #e05355;
$redlight: #ff7d7f;
$reddark: #99393a;

$padding-top: 2em;
$padding-bottom: 2em;

.button,
button {
  background-color: $red;
  padding: .5em 1em;
  border-bottom: .5em solid $reddark;
}

.button:hover,
button:hover {
  background-color: $redlight;
}

.button:focus,
button:focus {
  background-color: $red;
}


body {
  font-family: 'Cabin', sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;

  .dlb {
    color: $red;
  }
}

header {
  background-color: $bluedark;
  color: white;

  h1, h2, h3, h4, h5, h6, div {
    color: white;
  }
}

#main {
  position: relative;
}

.banner {
  background-color: $bluedark;
  color: white;
  height: 200px;
  font-family: 'Habibi', serif;

  .column {
      text-align: center;
      margin-top: 2em;
    span {
      font-size: 2.65em;
    }
  }
}

#map {
  width: 100%;
  height: 450px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#contact {
  margin-top: 1em;
  margin-bottom: 1em;

  .name,
  .email,
  .phone {
    width: 20em;
  }

  .content {
    height: 10em;
  }

}

.informational {
  background-color: $graylighter;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;

  p {
    font-size: 1.3em;
  }
}

footer {
  background-color: $bluedark;
  color: white;
  padding-top: $padding-top;

  h1, h2, h3, h4, h5, h6, div {
    color: white;
  }

  p {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  .logo {
    position: absolute; 
    top: 0;
  }

  p:first-child {
    position: relative;
    top: 3em;
  }

  .house {
    height: 300px;
  }
}
